@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: #2e333b;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  
}
.main {
    display: border-box;
    width: 80%;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.admin-header {
    height: 60px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-header h2 {
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.admin-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
    min-height: 100vh;
}
.admin-content img {
    max-width: 100%;
    height: 100%;
}
.link-button {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}
.link-button:hover {
    border: 2px solid #ffcc00;
    border-radius: 5px;
    transition: 0.6s;
}
.link-button:active {
    transform: scale(0.95);
    transition: 55ms;
}
h3 {
    overflow-wrap: break-word;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}
.sideBar {
    min-height: 100vh;
    width: 20%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #ffcc00 ;
    transition: 0.6s;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}
.regButton:active{
  transform: scale(0.95);
  transition: 55ms;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}
.image-container {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
}
.one-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes ColorChange {
    0% {
        color: black;
    }
    25% {
        color: white;
    }
    50% {
        color: black;
    }
    75% {
        color: white;
    }
    100% {
        color: black;
    }
}
.image-container span{
    animation: ColorChange 2s ease-in-out infinite;
}
.delete-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}
.add-icon {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: none;
}
.modal__content .image-container:hover .add-icon {
    display: block;
    cursor: pointer;
    transition: 55ms;
}
.modal__content .image-container:hover .delete-icon {
    display: none;
}
.image-container:hover .delete-icon {
    display: block;
    cursor: pointer;
    transition: 55ms;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

/* TipTap Styles */

.menu-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.menu-bar button {
    margin-left: 5px;
    margin-right: 5px;
}
button.is-active {
    background: #63636385;
}

.ProseMirror {
    padding: 10px;
    background: #fff;
    margin-top: 10px;
    min-height: 300px;
    color: black;
    border: 1px solid #fff;
    border-radius: 5px;
}
.ProseMirror    > * + * {
      margin-top: 0.75em;
    }
  
    .ProseMirror ul,
    .ProseMirror ol {
      padding: 0 1rem;
    }
  
    .ProseMirror h1,
    .ProseMirror h2,
    .ProseMirror h3,
    .ProseMirror h4,
    .ProseMirror h5,
    .ProseMirror h6 {
      line-height: 1.1;
    }
  
    .ProseMirror code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
  
    .ProseMirror pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
    }
    .ProseMirror pre code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    
  
      .ProseMirror img {
      max-width: 100%;
      height: auto;
    }
  
    .ProseMirror blockquote {
      padding-left: 1rem;
      border-left: 2px solid black;
    }
  
    .ProseMirror hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }
  